// Specific CSS for your home-page
h2{
  font-size: 40px;
  margin: 20px auto;
}

h3{
  font-size: 30px;
}
p{
  font-size: 20px;
}

.home-concept-desc-img {
  height: 150px;
  width : 200px;
  margin : 15px;
}