<div class="row mx-5 my-3 align-items-center">
  <div class="astronaute">
    <%= image_tag 'formedit.png', class: "new-image" %>
  </div>
  <div class="col-9 col-md-6">
    <div class="border-container p-3">
      <div class="form-infos">
        <h3>Update your star</h3>
        <%= render 'form', star: @star %>
        <div class="btn btn-delete">
          <%= link_to 'Delete star', star_path(@star), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  </div>
</div>
