<div class="cards-star m-5">
  <% @stars.each do |star| %>
    <div class="card-star">
      <div class="card-star-image">
      </div>
      <div class="card-star-infos m-3">
        <h1><%= star.name %></h1>
        <%= link_to 'Star details', star_path(star) %>
        <h2><%= star.price %> €</h2>
      </div>
    </div>
  <% end %>
</div>




<!--   <h1>Storie of ours Stars</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
  </p> -->