<div class="row mx-5 my-3 align-items-center">
  <div class="col-8 col-md-6">
    <div class="form-container p-3">
      <div class="form-infos">
        <h3>Add your star</h3>
        <%= render 'form', star: @star %>
      </div>
    </div>
  </div>
  <div class="col-4 col-md-6">
    <%= image_tag 'formnew.png', class: "new-image w-100" %>
  </div>
</div>
