<div class="row mx-5 my-3 align-items-center">
  <div class="astronaute">
    <%= image_tag 'formnew.png', class: "new-image" %>
  </div>
  <div class="col-9 col-md-6">
    <div class="border-container p-3">
      <div class="form-infos">
        <h3><span class="underline">Add your star</span></h3>
        <%= render 'form', star: @star %>
      </div>
    </div>
  </div>
</div>
