<div class="container">
  <div class="row">
    <div class="col-6 col-md-9">
      <div class="form-infos">
        <h3>Add your star</h3>
        <%= render 'form', star: @star %>
      </div>
    </div>
  </div>
</div>


