<div class = "container">
  <div class = "show_logo">

  </div>
  <div class ="show_description">
    <p>
      <strong>Name:</strong>
      <%= @star.name %>
    </p>


    <p>
      <strong>Price:</strong>
      <%= @star.price %> €
    </p>

    <p>
      <strong>Owner:</strong>
      <%= @star.user.username %>
    </p>
  </div>

</div>

