
<div class="container my-5">
  <div class="row justify-content-center my-5">
      <h1 class="px-auto"> Your trips </h1>
  </div>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-12 col-lg-4 booking">
        <div class="booking-box">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div class="trip-desc">
              <div class="trip-text-desc">
                <h4> <%= booking.start_date %> to <%= booking.end_date %></h4>
                <h2> <%= booking.star.name %> </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</p>
              </div>
              <%= link_to "Cancel",
                  booking_path(booking),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: "trip-delete"
              %>
            </div>
          </div>
        </div>
      </div>
    <% end  %>
  </div>
