<div class="banner">
  <div class="row d-flex justify-content-center mb-3">
    <div class="col-9 col-md-6">
        <h1>Your trip to the stars starts now</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-9 col-md-6">
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Galaxy, age, composition... " />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      </form>      
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">
    <div class="card-category">
      <%= image_tag 'planet-star.png' %>
      <h2>The star you are looking for</h2>
      <p>
        Que vous soyez à la recherche d'une cabane pour le week-end ou d'une maison pour toute la famille, un accueil chaleureux vous attend. Derrière chaque séjour se trouve une personne réelle qui peut vous fournir les informations dont vous avez besoin pour arriver dans le logement et vous sentir chez vous.
      </p>
    </div>

    <div class="card-category">
      <%= image_tag 'footplanet.png' %>
      <h2>A unique experience</h2>
      <p>
        Les expériences Airbnb sont bien plus que de simples visites. Que vous soyez en voyage, que vous exploriez votre propre ville ou que vous restiez chez vous, apprenez quelque chose de nouveau auprès d'un expert. Choisissez parmi des cours de danse, des ateliers de fabrication de pâtes, ou même du yoga avec des chèvres.
      </p>
    </div>

    <div class="card-category">
      <%= image_tag 'keyhole.png' %>
      <h2>An easy process</h2>
      <p>
        Servez-vous des filtres pour trouver exactement ce que vous recherchez : un prix qui rentre dans votre budget ou une piscine, par exemple.
      </p>
    </div>
  </div>
</div>

