.btn {
  background-color: #ea728c;
  width: 130px;
  height: 40px;
  color: white !important;
  border-radius: 5px;
  text-transform: uppercase;
  visibility:hidden;
}

.fake-btn {
  background-color: #ea728c;
  width: 130px;
  height: 40px;
  color: white !important;
  border-radius: 5px;
  text-transform: uppercase;
  // visibility:hidden;
}
