.card-category {
  padding: 11px 33px;
  align-items: center;
  background-color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  h3 {
    font-size: 24px;
  }
  img{
    height: 150px;
    width : 200px;
    margin : 15px;

  }
}
