.card-star {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  height: 350px;
  width: 250px;
  margin: 0 auto;
}

.card-star-image {
  height: 50%;
  position: relative;
}

.card-star-image img {
  position: absolute;
  bottom: -100px;
  left: -45px;
}

.card-star-infos {
  text-align: center;
  align-items: center;
  align-content: space-between;
  flex-grow: 1;

  h1 {
    font-size: 25px;
    font-weight: 500;
  }

  .rating {
    font-size: 12px;
  }

  a {
    color: black;

    &:hover {
      text-decoration: none;
    }
  }
}
