.card-star {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 350px;
  width: 250px;
  margin: 0 auto;
}

.card-star-image {
  background-image: image-url("logo.jpg");
  background-size: cover;
  background-position: center;
  height: 40%;
}

.card-star-infos {
  text-align: center;  
}
