.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  border-top: 2px solid #E5E5E5;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color:#FFE042;
}

.fas {
  font-size: 15px;
  color:#FFE042;
}

.far {
  color:black;
  font-size: 15px;
  opacity: 0.7;

  &:hover {
    color:#FFE042;
    opacity: 1;
  }
}

.footer {
  z-index: 4;
}
