.underline {
  background-image: linear-gradient(120deg, #ea728cb4 0%,  #ea728cb4 0%);
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position-x: 15px;
  background-position-y: 90%;
}

.underline-small {
  background-image: linear-gradient(120deg, #ea728cb4 0%,  #ea728cb4 0%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position-x: 5px;
  background-position-y: 90%;
}
